.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-item {
  width: 100%;
  font-weight: 500;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.list-item:hover {
  background-color: #eee;
}
.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__input {
  font-family: inherit;
  font-size: 1.6rem;
  color: #000;
  background-color: #eee;
  width: 90%;
  height: 100%;
  border: none;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  transition: all 0.2s;
  margin-right: -3.25rem;
}

.search__input:focus {
  outline: none;
}
.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #000;
}

.search__button {
  border: none;
  background-color: red;
  color: #fff;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 3px;
}

.search__button:focus {
  outline: none;
}

.wider {
  font-weight: 600;
}

.hide {
  display: none;
}